:root {
  --cinza-escuro: #494949;
  --cinza-claro: #d3d3d3;
  --verde: #02795b;
  --branco: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}
header {
  background-color: var(--branco);
  color: var(--verde);
  padding: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header h1 {
  font-size: 36px;
}

header nav {
  display: inline-block;
  margin: auto;
  
}

header nav a {
  color: var(--verde);
  text-decoration: none;
  font-size: 20px;
  padding-right: 30px;
  
}

header nav a:hover {
  color: #339961;
}

header input {
  border:double;
  border-radius: 10px;
  border-color: var(--verde);
  padding-left: 19px;
}

body {
  background-color: rgb(238, 238, 238);
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  color: var(--verde);
}
main h1 {
  text-align: center;
  font-size: 50px;
}
main .corpo {
  display: flex;
  padding: 1em;
}
main section {
  width: 70%;
}
main aside {
  width: 30%;
}

main section .cursos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2em;
}
main section .cursos .card {
  transition: transform 0.2s ease-out;
  cursor: pointer;
  width: 14rem;
  margin: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
main section .cursos .card:hover {
  transform: scale(
    1.1
  ); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

main section .cursos .card button {
  background-color: var(--verde);
  border-radius: 7px;
  color: var(--branco);
  padding: 10px;
  width: 100%;
  border: none;
}

main section .cursos .card button:hover {
  background-color: #339961;
}
footer {
  background-color: var(--branco);
  color: var(--verde);
  padding: 1em;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--verde);
}

main aside .util {
  margin: 20px;
}
main aside .util img {
  max-width: 190px;
  transition: transform 0.2s ease-out;
}
main aside .util a {
  text-decoration: none;
  color: var(--verde);
}

main aside .util img:hover{
  transform: scale(
    1.1
  ); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

/* Como style guide para o site, utilizei: 
1 --cinza-escuro: #494949;
2  --cinza-claro: #d3d3d3;
3  --verde: #02795b;
4  --branco: #ffffff;
(cores padronizadas no root do site inteiro)
5 footer
6 background color
7 espaçamentos de margens e bordas 
8 Um só tipo de fonte
9 Uso suave de transições
10 alinhamento

todos estes significam um só padrão de uso, sem repetiçoes ou "chutes" de caracteristicas próximas.
*/